@font-face {
  font-family: roboto;
  src: url('../fonts/RobotoCondensed-Regular[1].woff2');
}


* {
  margin: 0px;
  font-family: roboto;
  text-transform: capitalize;
}

* a:hover {
  text-decoration: none;
}

:root {
  --primary-color: #23283B ;
  --secondary-color: #FEBD19 ;
  --dark-color: #181A27 ;
  --light-color: #FFFFFF ;
  --semi-dark: #808080 ;
  --secondary-filter: invert(87%) sepia(36%) saturate(5690%) hue-rotate(346deg) brightness(112%) contrast(99%);
  --primary-filter: invert(13%) sepia(44%) saturate(436%) hue-rotate(189deg) brightness(97%) contrast(96%);
  --light-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(37deg) brightness(101%) contrast(105%);
  --semi-dark-filter: invert(55%) sepia(0%) saturate(52%) hue-rotate(146deg) brightness(91%) contrast(109%);
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0px auto;
}

.flex-data {
  display: flex;
  align-items: center;
  align-content: center;
}

.main-btn ,.sec-btn{
  width: 100%;
  background-color: var(--primary-color);
  display: none;
}

.main-btn .start-btn ,.sec-btn .nav-btn {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.sec-btn img {
  width: 180px;
  height: 50px;
  margin-right: 10px;
}

.start {
  background-color: var(--primary-color);
  width: 100%;
}

.start .contain {
  width: 100%;
  justify-content: space-between;
  padding: 10px 0px;
}

.start .contain img {
  width: 15px;
  height: 15px;
  filter: var(--secondary-filter);
}

.start .contain a {
  color: var(--semi-dark);
}

.start .contain a:hover {
  color: var(--light-color);
}

.start .contain .location {
  margin-right: 15px;
}

.start .contain .discount {
  margin-right: 15px;
}

.start .contain .time {
  position: relative;
}

.start .contain .time::before {
  content: '';
  position: relative;
  height: 5px;
  border: .5px solid var(--light-color);
  margin-right: 10px;
}

nav {
  width: 100%;
  padding: 20px 0px;
  background-color: var(--dark-color);
  position: fixed;
  top: 0;
  left: 0;  
  z-index: 999;
}

nav .contain {
  width: 100%;
  justify-content: space-between;
}

nav .contain .brand-name img {
  width: 200px;
  height: 45px;
}

nav .contain .navbar-nav {
  gap: 20px;
  flex-direction: row;
}

nav .contain .navbar-nav li a {
  font-size: 15px;
  font-weight: 500;
  color: var(--light-color);
  text-transform: capitalize;
}

 
nav .contain .navbar-nav li a:hover {
  color: var(--secondary-color);
}

nav .contain .navbar-nav .active a {
  color: var(--secondary-color);
} 

nav .contain .media {
  gap: 10px;
}

nav .contain .media .box {
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
}

nav .contain .media img {
  width: 25px;
  height: 25px;
  filter: var(--primary-filter);
  margin-left: 2px;
}

header {
  background: url('../images/header/intro_2.webp') top / cover no-repeat;
  position: relative;
  height: 100%;
  z-index: 9;
}

header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  top: 0;
  left: 0;
  z-index: -1;
}

header .contain {
  padding-top: 200px;
  margin: auto 0px;
  width: 60%;
}

header .contain .first p {
  color: var(--secondary-color);
  font-size: 30px;
}

header .contain .sec h1 {
  color: var(--light-color);
  font-weight: 900;
  font-size: 70px;
}

header .contain .sec span {
  color: var(--secondary-color);
}

header .contain .third p {
  color: var(--semi-dark);
  font-size: 18px;
}

header .btn {
  gap: 30px;
  align-items: normal;
  margin-top: 50px;
}

header .btn button {
  background-color: var(--secondary-color);
  width: 180px;
  height: 40px;
  text-transform: capitalize;
  font-weight: 700;
}

header .end {
  padding-bottom: 200px;
}

header .read {
  margin-top: 60px;
  margin-left: 40px;
  transition: all .2s linear;
} 

header .read-btn:hover {
  transform: scale(1.2);
}

header .read a {
  color: var(--light-color);
}

header .arrow img {
  width: 30px;
  height: 30px;
  margin-top: 45px;
  filter: var(--light-filter);
}

.cards {
  display: none;
}

.cards .row {
  gap: 30px;
  flex-wrap: wrap;
}

@keyframes card {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.cards.active {
  display: block;
  animation: card .1s ease-in-out 1 alternate;
}

.cards .box {
  width: calc((100% / 3) - 30px);
  background-color: var(--dark-color);
  margin-top: -70px;
  z-index: 9;
  text-align: center;
  color: var(--light-color);
  transition: all .2s;
}

.cards .box .box-contain {
  width: 70%;
  margin: 30px auto;
}

.cards .box .box-contain h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}

.cards .box .box-contain p {
  color: var(--semi-dark);
}

.cards .box:hover {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  transform: scale(1.1);
  z-index: 999;
}

.who {
  background: url('../images/who-we-are/pattern.webp') center / cover no-repeat;
  background-color: var(--dark-color);
  margin-top: -90px;
  padding-bottom: 100px;
}

.who .row {
  padding-top: 200px;
  gap: 100px;
}

.who .heading { 
  width: 50%;
}

.who .heading .yellow {
  color: var(--secondary-color);
  font-size: 25px;
}

.who .heading h1 {
  color: var(--light-color);
  font-weight: 700;
}

.who .heading .semi-dark {
  color: var(--semi-dark);
}

.who .heading .white {
  color: var(--light-color);
}

.who .heading .percentage {
  position: relative;
  gap: 370px;
}

.who .heading .percentage::after {
  content: '';
  width: 480px;
  height: 5px;
  border: 1px solid var(--secondary-color);
  position: absolute;
  background-color: var(--secondary-color);
  margin-top: 30px;
  top: 0;
  left: 0;
}

.who .heading .percentage::before {
  content: '';
  width: 60px;
  height: 5px;
  border: 1px solid var(--light-color);
  position: absolute;
  background-color: var(--light-color);
  margin-top: 30px;
  margin-right: 50px;
  top: 0;
  right: 0;
}

.who .inside-row {
  margin-top: 20px;
  gap: 50px;
}

.who .inside-row .left {
  gap: 20px;
}

.who .inside-row .left .image {
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
}

.who .inside-row .left .image img {
  width: 80%;
  height: 80%;
  margin-left: 5px;
  margin-top: 5px;
  filter: var(--light-filter);
}

.who .inside-row .left h2 {
  font-size: 25px;
  font-weight: 700;
  color: var(--semi-dark);
  margin: auto 0px;
}

.who .inside-row .right {
  gap: 20px;
}

.who .inside-row .right .image {
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
}

.who .inside-row .right .image img {
  width: 80%;
  height: 80%;
  margin-left: 5px;
  margin-top: 5px;
  filter: var(--light-filter);
}

.who .inside-row .right h2 {
  font-size: 25px;
  font-weight: 700;
  color: var(--semi-dark);
  margin: auto 0px;
}

.who .end-row {
  margin-top: 50px;
  gap: 40px;
}

.who .end-row .btn button {
  background-color: var(--secondary-color);
  width: 150px;
  height: 40px;
  text-transform: capitalize;
  font-weight: 700;
}

.who .end-row  .mobile {
  gap: 5px;
}

.who .end-row  .mobile img {
  width: 30px;
  height: 30px;
  filter: var(--light-filter);
}

.who .end-row  .mobile h2 {
  font-size: 20px;
  color: var(--light-color);
  margin: auto 0px;
}

.who .request {
  align-items: normal;
  width: 40%;
}

.who .request img {
  width: 250px;
  height: 500px;
}

.who .contain {
  margin-left: -30px;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 20px;
}

.who .contain p {
  color: var(--light-color);
  margin-right: 260px;
}

.who .contain input {
  width: 300px;
  height: 50px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.who .contain .text {
  margin-left: 15px;
}

.who .contain textarea {
  resize: none;
  width: 300px;
  height: 150px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.who .request .btn img {
  width: 20px;
  height: 20px;
}

.who .request .btn button {
  width: 300px;
  height: 50px;
  background-color: var(--secondary-color);
  text-transform: capitalize;
  margin: 0px auto;
}

.services {
  background-color: var(--primary-color);
  padding-top: 100px;
  padding-bottom: 60px;
}

.services .heading p {
  color: var(--secondary-color);
  font-size: 25px;
}

.services .heading .hrow {
  gap: 40px;
  margin-bottom: 50px;
}

.services .heading .hrow .p {
  width: 40%;
}

.services .heading .hrow p {
  color: var(--semi-dark);
  font-size: 15px;
}

.services .heading .hrow .h {
  width: 50%;
}

.services .heading .hrow h1 {
  color: var(--light-color);
  font-size: 43px;
  font-weight: 700;
}

.services .heading .hrow span {
  color: var(--secondary-color);
}

.services .row {
  flex-wrap: wrap;
  gap: 30px;
}

.services .row .box {
  width: calc((100% / 3) - 30px);
  margin-bottom: 120px;
}

.services .row .box .main-img {
  width: 100%;
  position: relative;
}

.services .row .box .main-img img {
  width: 100%;
}

.services .row .box .small-img {
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  text-align: center;
  margin-left: 300px;
  margin-top: -20px;
  position: absolute;
  z-index: 9;
}

.services .row .box .small-img img {
  width: 40px;
  height: 40px;
  padding-top: 8px;
  z-index: 99;
}

.services .row .box .explain {
  margin-top: -40px;
  background-color: var(--dark-color);
  width: 320px;
  height: 140px;
  position: absolute;
  z-index: 9;
  transition: all .2s;
}

.services .row .box .explain:hover{
  transform: scale(1.1);
  background-color: var(--secondary-color);
}

.services .row .box .explain:hover a {
  color: var(--dark-color);
  filter: var(--primary-filter);
}

.services .row .box .explain:hover .contain h2 {
  color: var(--dark-color);
}

.services .row .box .explain .contain {
  margin-left: 15px;
  margin-top: 10px;
}

.services .row .box .explain .contain h2 {
  color: var(--light-color);
  font-size: 22px;
}

.services .row .box .explain .contain p {
  color: var(--semi-dark);
  font-size: 12px;
} 

.services .read a h3 {
  color: var(--secondary-color);
  font-size: 15px;
}

.services .arrow img {
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: 10px;
  filter: var(--secondary-filter);
}

.call {
  background: url('../images/call/call_us.webp') center / cover no-repeat;
  position: relative;
  z-index: 9;
  text-align: center;
  padding-bottom: 20px;
}

.call::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  z-index: -1;
}

.call .row {
  gap: 200px;
  padding-top: 20px;
}

.call .heading h1 {
  color: var(--light-color);
  font-size: 32px;
  font-weight: 700;
}

.call .heading a {
  color: var(--secondary-color);
  font-size: 40px;
  font-weight: 700;
  margin-right: 140px;
}

.call .box-container {
  gap: 10px;
  margin-left: 100px;
}

.call .box {
  width: 180px;
  height: 130px;
  position: relative;  
  z-index: 9;
  padding-top: 25px;
}

.call .box::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(191, 190, 190, 0.3);
  top: 0;
  left: 0;
  z-index: -1;
}

.call .box h1 {
  color: var(--light-color);
  font-weight: 700;
  margin-bottom: -5px;
}

.call .box p {
  color: var(--semi-dark);
  font-weight: 700;
}

.choose-us {
  background: url('../images/choose/Cartrack2.png') center / cover no-repeat;
  background-color: var(--dark-color);
  padding-bottom: 100px;
}

.choose-us .row {
  padding-top: 100px;
  gap: 30px;
}

.choose-us .images {
  width: calc((100% / 2) - 30px);
}

.choose-us .images .main-img {
  width: 100%;
  position: relative;
}

.choose-us .images .main-img img {
  width: 100%;
  height: 500px;
}

.choose-us .images .fsmall-img {
  width: 200px;
  height: 150px;
  position: absolute;
  margin-top: -50px;
  margin-left: -80px;
  z-index: 99;
}

.choose-us .images .fsmall-img img {
  width: 200px;
  height: 150px;
}

.choose-us .images .secsmall-img {
  width: 200px;
  height: 150px;
  position: absolute;
  margin-top: 120px;
  margin-left: -80px;
  z-index: 99;
}

.choose-us .images .secsmall-img img {
  width: 200px;
  height: 150px;
}

.choose-us .row .content {
  width: calc((100% / 2) - 30px);
}

.choose-us .row .content .heading .yellow {
  color: var(--secondary-color);
  font-size: 25px;
}

.choose-us .row .content .heading h1 {
  color: var(--light-color);
  font-weight: 700;
}

.choose-us .row .content .heading p {
  color: var(--semi-dark);
  margin-bottom: 30px;
}

.choose-us .row .content .contain {
  gap: 20px;
}

.choose-us .row .content .contain .image {
  width: 100px;
  height: 60px;
  background-color: var(--primary-color);
  text-align: center;
  position: relative;
}

.choose-us .row .content .contain .image::after {
  content: '';
  top: 0;
  left: 0;
  margin-left: 25px;
  margin-top: 60px;
  border: .5px dotted var(--secondary-color);
  background-color: var(--secondary-color);
  width: 0px;
  height: 60px;
  position: absolute;
}

.choose-us .row .content .contain .image img {
  width: 50px;
  height: 50px;
  filter: var(--secondary-filter);
  padding-top: 13px;
}

.choose-us .row .content .contain .explain {
  padding-top: 20px;
}

.choose-us .row .content .contain .explain h2 {
  color: var(--light-color);
  font-size: 20px;
  font-weight: 500;
}

.choose-us .row .content .contain .explain p {
  color: var(--semi-dark);
}

.aboutus {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.aboutus .heading {
  text-align: center;
  padding-bottom: 50px;
}

.aboutus .heading p {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}

.aboutus .heading h1 {
  color: var(--light-color);
  font-weight: 700;
}

.aboutus .heading span {
  color: var(--secondary-color);
}

.aboutus .content {
  width: 50%;
  background-color: var(--primary-color);
}

.aboutus .content .paragraph {
  width: 500px;
  margin: 40px auto;
  color: var(--light-color);
}

.aboutus .content .user .image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 30px;
}

.aboutus .content .user .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.aboutus .content .user .name {
  margin-left: 20px;
  margin-top: 20px;
}

.aboutus .content .user .name h2 {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 25px;
}

.aboutus .content .user .name p {
  color: var(--semi-dark);
  margin-top: -10px;
}

.aboutus .content .user .comment {
  margin-left: 230px;
  width: 50px;
  height: 50px;
}

.aboutus .content .user .comment img {
  width: 100%;
  height: 100%;
  filter: var(--secondary-filter);
}

.aboutus .main-img {
  width: 50%;
  background-color: #1E2131;
  text-align: right;
}

.aboutus .main-img img {
  width: 485px;
}

.question {
  background: url('../images/who-we-are/pattern.webp') center / cover no-repeat;
  background-color: var(--dark-color);
  padding-bottom: 100px;
}

.question .row {
  gap: 30px;
}

.question .row .heading {
  width: calc((100% / 2) - 30px);
}

.question .row .heading .yellow {
  color: var(--secondary-color);
  font-size: 25px;
  text-transform: uppercase;
}

.question .row .heading h1 {
  color: var(--light-color);
  font-weight: 700;
}

.question .row .heading p {
  color: var(--semi-dark);
}

.question .row .heading .btn button {
  width: 180px;
  height: 50px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  text-transform: uppercase;
  margin-top: 20px;
}

.question .row .accordion {
  width: calc((100% / 2) - 30px);
}

.question .row .accordion .card {
  margin-bottom: 20px;
  border: none;
}

.question .row .accordion .card-header {
  background-color: var(--primary-color);
}

.question .row .accordion .card-body {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.question .row .accordion .card-header button {
  color: var(--light-color);
}

.question .row .accordion .card-header button:hover {
  text-decoration: none;
}

.descount {
  background: url('../images/descount/intro.jpeg') center / cover no-repeat;
  position: relative;
  z-index: 9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.descount::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 30, 30, 0.5);
  top: 0;
  left: 0;
  z-index: -1;
}

.descount .main {
  width: 40%;
  margin: 0px auto;
  padding-top: 30px;
  border: 1px dotted var(--light-color);
  text-align: center;
  color: var(--light-color);
}

.descount .main h1 {
  font-weight: 700;
  font-size: 50px;
}

.descount .main span {
  color: var(--secondary-color);
}

.descount .main button {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  text-transform: uppercase;
  height: 40px;
  margin-bottom: 30px;
}

.contact {
  background: url('../images/choose/Cartrack2.png') center / cover no-repeat;
  background-color: var(--dark-color);
  padding-bottom: 50px;
}

.contact .row {
  gap: 30px;
  padding-top: 100px;
}

.contact .row .form {
  width: calc((100% / 2) - 30px);
  background-color: var(--primary-color);
  padding-top: 40px;
  padding-bottom: 30px;
}

.contact .row .form .heading {
  width: 90%;
  margin: 0px auto;
}

.contact .row .form .heading h1 {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 700;
}

.contact .row .form .heading p {
  color: var(--semi-dark);
}

.contact .row .form .content {
  width: 90%;
  margin: 0px auto;
  color: var(--light-color);
}

.contact .row .form .content .form-row {
  gap: 20px;
}

.contact .row .form .content .form-row input {
  width: 235px;
  height: 50px;
}

.contact .row .form .content input {
  width: 100%;
  height: 50px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.contact .row .form .content textarea {
  resize: none;
  width: 100%;
}

.contact .row .form .content button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  text-transform: uppercase;
}

.contact .row .connections {
  width: calc((100% / 2) - 30px);
  margin-top: 40px;
}

.contact .row .connections .yellow {
  color: var(--secondary-color);
  font-size: 28px;
}

.contact .row .connections h1 {
  color: var(--light-color);
  font-weight: 700;
}

.contact .row .connections p {
  color: var(--semi-dark);
}

.contact .row .connections .connection-row {
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.contact .row .connections .content {
  width: 100%;
  margin-bottom: 10px;
}

.contact .row .connections img {
  width: 30px;
  height: 30px;
  filter: var(--secondary-filter);
  margin-right: 7px;
}

.contact .row .connections a {
  color: var(--light-color);
}

.contact .box-container{
  gap: 10px;
}

.contact .box-container .box {
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
}

.contact .box-container .box  img {
  width: 25px;
  height: 25px;
  filter: var(--primary-filter);
  margin-left: 2px;
}

.blog {
  background-color: var(--dark-color);
  padding-top: 50px;
  padding-bottom: 100px;
}

.blog .row {
  gap: 30px;
}

.blog .row .text-box {
  width: calc((100% / 3) - 30px);
  background-color: #1E2131;
  text-align: center;
  padding: 20px 0px;
}

.blog .row .text-box .yellow {
  color: var(--secondary-color);
  font-size: 25px;
}

.blog .row .text-box h1 {
  color: var(--light-color);
  font-weight: 700;
}

.blog .row .text-box span {
  color: var(--secondary-color);
}

.blog .row .text-box p {
  color: var(--semi-dark);
  margin-bottom: 20px;
}

.blog .row .text-box button {
  width: 200px;
  height: 40px;
  text-transform: uppercase;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
}

.blog .row .box {
  width: calc((100% / 3) - 30px);
  transition: all .2s;
}

.blog .row .box:hover {
  transform: translateY(-5px);
}

.blog .row .box .img-contain {
  width: 100%;
  height: 180px;
}

.blog .row .box .img-contain img {
  width: 100%;
  height: 100%;
}

.blog .row .box h2 {
  font-size: 20px;
  color: var(--light-color);
  font-weight: 500;
  padding-top: 20px;
}

.blog .row .box .inside-row {
  gap: 30px;
}

.blog .row .box .inside-row img {
  width: 20px;
  height: 20px;
  filter: var(--semi-dark-filter);
}

.blog .row .box .inside-row p {
  padding-top: 17px;
  padding-left: 5px;
  color: var(--semi-dark);
}

.blog .row .box p {
  color: var(--semi-dark);
}

footer {
  background-color: var(--primary-color);
}

footer .row {
  gap: 40px;
  padding: 40px 0px;

}

footer .row .fbox ,
footer .row .secbox ,
footer .row .thirdbox ,
footer .row .fourthbox {
  width: calc((100% / 4) - 40px);
}

footer .row .fbox img {
  width: 150px;
  height: 40px;
  margin-bottom: 15px;
}

footer p {
  color: var(--semi-dark);
  margin-bottom: 0px;
}

footer .box-container {
  margin-top: 30px;
  gap: 10px;
}

footer .box-container .box {
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
}

footer .fbox .box-container .box  img {
  width: 20px;
  height: 20px;
  filter: var(--primary-filter);
  margin-left: 5px;
  margin-top: 5px;
}

footer h3 {
  color: var(--light-color);
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
} 

footer h4 {
  color: var(--light-color);
  font-size: 18px;
  font-weight: 700;
}

footer .row .thirdbox .content {
  width: 100%;
  margin-bottom: 10px;
}

footer .row .thirdbox img {
  width: 20px;
  height: 20px;
  filter: var(--secondary-filter);
  margin-right: 7px;
}

footer .row .thirdbox a {
  color: var(--semi-dark);
}

footer .fourthbox h3 {
  margin-bottom: 10px;
}

footer .fourthbox input {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 5px;
}

footer .fourthbox button {
  width: 100%;
  height: 50px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.copyright {
  background-color: var(--dark-color);
  color: var(--semi-dark);
  font-size: 13px;
  padding: 10px 0px;
}

.copyright p {
  color: var(--semi-dark);
  font-size: 13px;
  margin-top: 15px;
}

.copyright .row {
  justify-content: space-between;
}

.copyright a {
  color: var(--semi-dark);
  font-size: 13px;
}